.field {
  display: block;
  clear: both;

  label {
    display: block;
    width: 10rem;
    float: left;
  }
  input[type=text], textarea {
    width: 20rem;
    display: block;
    float: left;
    border-color: #007bff2e;
    border-radius: .15rem;
  }

  textarea {
    height: 3rem;
  }
  input[type=text]{
    height: 1.2rem;
  }
}

.action {
  display: block;
  clear: both;
  
  button {
    padding: 0.5em 1em;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    border-radius: .25rem;
  }
}
